@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-body: "Inter", sans-serif;
    --color-brand: oklch(0.9 0.2 120);
  }
}

* {
  font-family: 'Noto Sans JP', sans-serif;
  color: #616161;
}

a {
  text-decoration: none;
  color: #616161;
}

.loc-selector {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

.loc-selector-span {
  color: #4B6775;
}

.signup-button {
  background-color: #4B6775;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 24px;
  margin-right: 30px;
}

.login-button {
  background-color: #4B6775;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 24px;
}

.grid-container {
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 10px;
  width: 80%;
}

.loc-selector-change {
  color: white;
  padding: 8px;
  background-color: rgb(171, 170, 170);
  font-size: 18px;
  font-weight: 600;
}

.category-container {
  background-color: white;
}