@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* @tailwind base; */
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Noto Sans JP', sans-serif;
  color: #616161;
}

a{
  text-decoration: none;
  color: #616161;
}
  .loc-selector {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .loc-selector-span {
    color: #4B6775;
  }

  .grid-container {
  margin:0 auto;
    margin-top: 10px;
    padding-top: 10px;
    width: 80%;
  }

  .loc-selector-change {
    color:white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(171, 170, 170);
    font-size: 24px;
    font-weight: 600;
  }
  
  .category-container{
    background-color: white;
  }